* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game__container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .scoreboard {
        display: flex;
        flex: 1;

        .scoreboard__info {
            background: rgb(135, 172, 219);
            display: flex;
            flex-direction: column;
            flex: 9;

            .scoreboard__info-row {
                display: flex;
                flex: 1 ;
                padding: 3px;

                .teamname {
                    flex: 6;
                    display: flex;
                    align-items: center;
                    padding: 3px;
                    background: lightsteelblue;
                }

                .runs {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: lightsteelblue;
                    margin: 0 5px;
                }

                .scoreboard__info-outs {
                    background: lightsteelblue;
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .scoreboard__inning {
            background: pink;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex: 1;

            #inning {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            i {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .field {
        background: pink;
        flex: 6;
    }

    .pitcher {
        background: lime;
        flex: 1;

        .pitcher--info {
            display: flex;
            align-items: center;

            .handed {
                padding: 5px;
            }
        }

        .pitcher--gamestats {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: gray;
                padding: 3px;
                border: 1px solid #000;
            }
        }
    }

    .batter {
        flex: 1;

        .batter--info {
            display: flex;
            align-items: center;
            background: lime;

            .handed {
                padding: 5px;
            }
        }

        .batter--gamestats {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            text-align: center;

            .batter-diamond-bg {
                position: relative;

                img {
                    width: 40px;
                    height: 40px;
                }

                p {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                }
            }
        }
    }

    .options {
        display: flex;
        flex: 1;

        & > div {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

        & div:last-child {
            flex: 1;
        }

        .options--button {
            background: rgb(216, 216, 216);
            margin: 2px;
        }

        .options--menu {
            font-size: 34px;
        }
    }
}